.img {
  width: 100px;
}
.searchItem {
  padding: 15px;
  display: flex;
  align-items: baseline;
  gap: 20px;
  border-bottom: 1px solid black;
}

.noline {
  text-decoration: none;
  color: black;
}
.loadmore {
  margin-bottom: 50px;
  margin-left: 50%;
  background-color: black;
  color: aliceblue;
  font-size: large;
}
.goUp {
  margin-left: 25%;
  background-color: black;
  color: aliceblue;
  font-size: large;
}
